.info{
    /* background-image: url("https://image.freepik.com/free-vector/social-distancing-illustration_23-2148501965.jpg");
    background-repeat: no repeat; 
    background-size: cover;
    background-position: unset;
    padding-top: 100%; padding-bottom: 5%; */
}